swagger: '2.0'

info:
  version: '2.0'
  title: TV API
  description: Welcome to the API Reference Docs page for the Press Association TV API (v2).
host: tv.api.press.net
basePath: /v2
securityDefinitions:
  apikey:
    type: apiKey
    name: apikey
    in: header
schemes:
  - https
  - http
produces:
  - application/json
  
paths:
  /platform:
    get:
      description: Return a list of available platforms.
      summary: Platform Collection
      tags:
        - Platform
      operationId: listPlatforms
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Limit'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 30,
                "items": [
                  {
                    "id": "2254c5d8-1f7a-3741-96a8-12349f7a612e",
                    "title": "BT TV",
                    "subject": [
                      {
                        "code": "platform:patv:11",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "d46f4b85-b5e8-3639-a767-faa082df415f",
                    "title": "Freesat",
                    "subject": [
                      {
                        "code": "platform:patv:4",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "992e72d4-86a4-3644-bd0f-fb742a0e9f5d",
                    "title": "Freeview",
                    "subject": [
                      {
                        "code": "platform:patv:3",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "5d3eb87e-410a-3ef1-b465-64a4d196d126",
                    "title": "International",
                    "subject": [
                      {
                        "code": "platform:patv:14",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "4ac6f1a6-83d4-3116-865b-3ab212b00eb5",
                    "title": "Irish Radio",
                    "subject": [
                      {
                        "code": "platform:patv:13",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "cd5a54da-d1ec-3e36-8593-93b5e92ebc01",
                    "title": "Saorsat",
                    "subject": [
                      {
                        "code": "platform:patv:9",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "8173de5c-7005-3f92-9de9-432e656731fd",
                    "title": "Saorview",
                    "subject": [
                      {
                        "code": "platform:patv:8",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "87eb02d1-cdef-344a-8823-106d2dc8097b",
                    "title": "Sky HD",
                    "subject": [
                      {
                        "code": "platform:patv:1",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "236f1da3-6901-3539-93ed-a56c4cc6a7f4",
                    "title": "Sky SD",
                    "subject": [
                      {
                        "code": "platform:patv:2",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "04124b1d-3836-3bfb-89e7-ef696de8c155",
                    "title": "TalkTalk YouView",
                    "subject": [
                      {
                        "code": "platform:patv:12",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "0ffc504c-2d24-3bdb-9877-69c1da228f59",
                    "title": "Virgin",
                    "subject": [
                      {
                        "code": "platform:patv:5",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "78d67520-a6b5-3827-a242-fb91448e3668",
                    "title": "Virgin Media Ireland",
                    "subject": [
                      {
                        "code": "platform:patv:7",
                        "profile": "platform"
                      }
                    ]
                  },
                  {
                    "id": "a004c401-250f-3d87-8692-cf1de5b9d62c",
                    "title": "YouView",
                    "subject": [
                      {
                        "code": "platform:patv:10",
                        "profile": "platform"
                      }
                    ]
                  }
                ]
              }
            
  /platform/{platformId}:
    get:
      description: Return the content of the selected platform.
      summary: Platform Detail
      tags:
        - Platform
      operationId: getPlatform
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
      - $ref: '#/parameters/PlatformId'
        in: path
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": "87eb02d1-cdef-344a-8823-106d2dc8097b",
                "title": "Sky HD",
                "subject": [
                  {
                    "code": "platform:patv:1",
                    "profile": "platform"
                  }
                ]
              }

  /platform/{platformId}/region:
    get:
      description: Return a list of regions for a platform.
      summary: Platform Region Collection
      tags:
        - Platform
      operationId: listPlatformRegions
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/PlatformId'
          in: path      
        - $ref: '#/parameters/Limit'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 5,
                "items": [
                    {
                        "id": "8e0c3099-fe15-352b-9f78-c4f72276826a",
                        "title": "Anglia",
                        "subject": [
                            {
                                "code": "region:patv:1",
                                "profile": "region"
                            }
                        ]
                    },
                    {
                        "id": "da7fc2a3-acf1-31c5-947a-af1f61c1890c",
                        "title": "Cambridgeshire",
                        "subject": [
                            {
                                "code": "region:patv:2",
                                "profile": "region"
                            }
                        ]
                    },
                    {
                        "id": "9bb1d3c0-67c0-3d38-b554-bedefe958497",
                        "title": "Channel Islands",
                        "subject": [
                            {
                                "code": "region:patv:3",
                                "profile": "region"
                            }
                        ]
                    },
                    {
                        "id": "ead8fbf9-51fe-390c-bf8a-b3c0c006d572",
                        "title": "Cumbria",
                        "subject": [
                            {
                                "code": "region:patv:4",
                                "profile": "region"
                            }
                        ]
                    },
                    {
                        "id": "2e7d06bc-5bcc-3500-9fa0-bf3f65f214c2",
                        "title": "East Midlands",
                        "subject": [
                            {
                                "code": "region:patv:5",
                                "profile": "region"
                            }
                        ]
                    }
                ]
              }
  
  /channel:
    get:
      description: Return a collection of channels.
      summary: Channel Collection
      tags:
        - Channel
      operationId: listChannels
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/PlatformId'
        - $ref: '#/parameters/RegionId'
        - $ref: '#/parameters/Limit'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 2,
                "items": [
                    {
                        "id": "de27a266-2dbf-30a3-ac02-f32ebbab645d",
                        "epg": "101",
                        "title": "BBC One Cambridgeshire",
                        "url": "http://www.bbc.co.uk/tv/bbcone/live",
                        "type": "tv",
                        "hd": false,
                        "regional": true,
                        "media": [
                            {
                                "kind": "picture:logo",
                                "rendition": {
                                    "default": {
                                        "href": "http://tv.static.press.net/logo/p131732.png"
                                    },
                                    "transparent-light": {
                                        "href": "http://tv.static.press.net/logo/p2201211211664.png"
                                    },
                                    "transparent-dark": {
                                        "href": "http://tv.static.press.net/logo/p1201211211664.png"
                                    }
                                }
                            }
                        ],
                        "subject": [
                            {
                                "code": "channel:patv:1664",
                                "profile": "channel"
                            }
                        ]
                    },
                    {
                        "id": "ea93fc2f-662a-3b6a-b624-a38871945161",
                        "epg": "102",
                        "title": "BBC Two HD",
                        "type": "tv",
                        "hd": true,
                        "regional": true,
                        "media": [
                            {
                                "kind": "picture:logo",
                                "rendition": {
                                    "default": {
                                        "href": "http://tv.static.press.net/logo/p142703.png"
                                    },
                                    "transparent-light": {
                                        "href": "http://tv.static.press.net/logo/p2201303261782.png"
                                    },
                                    "transparent-dark": {
                                        "href": "http://tv.static.press.net/logo/p1201303261782.png"
                                    }
                                }
                            }
                        ],
                        "subject": [
                            {
                                "code": "channel:patv:1782",
                                "profile": "channel"
                            }
                        ]
                    }
                ]
              }

  /channel/{channelId}:
    get:
      description: Return the content of the selected channel.
      summary: Channel Detail
      tags:
        - Channel
      operationId: getChannel
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/ChannelId'
          in: path
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": "de27a266-2dbf-30a3-ac02-f32ebbab645d",
                "title": "BBC One Cambridgeshire",
                "url": "http://www.bbc.co.uk/tv/bbcone/live",
                "type": "tv",
                "hd": false,
                "regional": true,
                "media": [
                    {
                        "kind": "picture:logo",
                        "rendition": {
                            "default": {
                                "href": "http://tv.static.press.net/logo/p131732.png"
                            },
                            "transparent-light": {
                                "href": "http://tv.static.press.net/logo/p2201211211664.png"
                            },
                            "transparent-dark": {
                                "href": "http://tv.static.press.net/logo/p1201211211664.png"
                            }
                        }
                    }
                ],
                "subject": [
                    {
                        "code": "channel:patv:1664",
                        "profile": "channel"
                    }
                ]
              }

  /schedule:
    get:
      description: Return a collection of schedule items. It is required that a request must contain either a channelId or a combination or platformId and RegionId.
      summary: Schedule Collection
      tags:
        - Schedule
      operationId: listSchedule
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/ChannelId'
          required: false
          description: The identifier for the selected channel, either a channel or a combination of a platfrom and region must be passed to the schedule collection endpoint.
        - $ref: '#/parameters/Date'
          name: start
          description: "Limit the schedule to ones scheduled from the selected date provided. For example 2014-04-14.\n\nThe 'end' parameter is typically used in combination with the 'end' param to form a date range.\n\n\n Formats Supported:\n\n\n - yyyy/MM/dd \n\n\n - yyyy/MM/ddThh:mm \n\n\n - now \n\n\n - now.plus.{nHours?} \n\n\n - now.minus.{nHours?} \n\n\n - tomorrow"
        - $ref: '#/parameters/Date'
          name: end
          description: "Limit the schedule to ones scheduled to the selected date provided. For example: 2014-04-17.\n\nThe 'end' parameter is typically used in combination with the 'start' param to form a date range.\n\n\n Formats Supported:\n\n\n - yyyy/MM/dd \n\n\n - yyyy/MM/ddThh:mm \n\n\n - now \n\n\n - now.plus.{nHours?} \n\n\n - now.minus.{nHours?} \n\n\n - tomorrow"
        - $ref: '#/parameters/Limit'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 3,
                "items": [
                    {
                        "id": "684f6a64-9394-37dd-8258-efe15eca47d0",
                        "title": "Weather for the Week Ahead",
                        "type": "tv-show",
                        "dateTime": "2027-01-12T01:10:00+0000",
                        "duration": 5,
                        "asset": {
                            "id": "d2947b78-f949-3c96-9a8e-b2bb7515c9fa",
                            "title": "Weather for the Week Ahead",
                            "type": "episode",
                            "relatedAsset": {
                                "series": {
                                    "id": "732d125f-9964-337e-9f8c-eb541c27859b",
                                    "title": "Weather for the Week Ahead",
                                    "tag": [],
                                    "media": [],
                                    "subject": [
                                        {
                                            "code": "asset:patv:12838",
                                            "profile": "asset"
                                        }
                                    ]
                                }
                            },
                            "tag": [
                                {
                                    "id": "genre:weather",
                                    "name": "Weather"
                                }
                            ],
                            "media": [
                                {
                                    "kind": "picture:series",
                                    "copyright": "PA Archive/Press Association Images",
                                    "expiryDate": "2027-02-01",
                                    "rendition": {
                                        "default": {
                                            "href": "http://tv.static.press.net/asset/webANXnewsweather7.jpg"
                                        }
                                    }
                                }
                            ],
                            "subject": [
                                {
                                    "code": "asset:patv:152743785",
                                    "profile": "asset"
                                }
                            ]
                        },
                        "channel": {
                            "id": "53026209-e1b2-3af2-9244-3586feb9b4f7",
                            "title": "BBC One London",
                            "hd": false,
                            "regional": false,
                            "media": [],
                            "subject": [
                                {
                                    "code": "channel:patv:713",
                                    "profile": "channel"
                                }
                            ]
                        },
                        "stereo": false,
                        "subtitles": true,
                        "surround": false,
                        "widescreen": true,
                        "audioDescriptive": false,
                        "interactive": false,
                        "hd": true,
                        "3d": false,
                        "repeat": false,
                        "premiere": false,
                        "newSeries": false,
                        "newEpisode": false,
                        "lastInSeries": false,
                        "live": false,
                        "signLanguage": false,
                        "inVision": true,
                        "asLive": false,
                        "bw": false,
                        "film": false,
                        "tvMovie": false,
                        "foreignFilmWithEnglishSubtitles": false,
                        "ratingWithPIN": false,
                        "revistedRepeat": false,
                        "omnibus": false,
                        "followOn": false,
                        "regionalInterest": false,
                        "welsh": false,
                        "ppv": false,
                        "bwAndColour": false,
                        "subject": [
                            {
                                "code": "schedule_item:patv:124079730",
                                "profile": "schedule_item"
                            }
                        ]
                    },
                    {
                        "id": "e93c07fc-ef8a-3a56-a2ff-2c6d9decd8e6",
                        "title": "BBC News",
                        "type": "tv-show",
                        "dateTime": "2027-01-12T01:15:00+0000",
                        "duration": 285,
                        "asset": {
                            "id": "c5bae94f-7dd7-32f4-ae9f-6508f44fac0c",
                            "title": "11/01/2027",
                            "type": "episode",
                            "relatedAsset": {
                                "series": {
                                    "id": "db81caac-7aa0-3f98-80be-6133f9b19050",
                                    "title": "BBC News",
                                    "tag": [],
                                    "media": [],
                                    "subject": [
                                        {
                                            "code": "asset:patv:212735",
                                            "profile": "asset"
                                        }
                                    ]
                                }
                            },
                            "tag": [
                                {
                                    "id": "genre:news",
                                    "name": "News"
                                }
                            ],
                            "media": [
                                {
                                    "kind": "picture:series",
                                    "copyright": "BBC",
                                    "expiryDate": "2027-02-01",
                                    "rendition": {
                                        "default": {
                                            "href": "http://tv.static.press.net/asset/webANXbbcnewsgenlogo2.jpg"
                                        }
                                    }
                                }
                            ],
                            "subject": [
                                {
                                    "code": "asset:patv:2568979",
                                    "profile": "asset"
                                }
                            ]
                        },
                        "channel": {
                            "id": "53026209-e1b2-3af2-9244-3586feb9b4f7",
                            "title": "BBC One London",
                            "hd": false,
                            "regional": false,
                            "media": [],
                            "subject": [
                                {
                                    "code": "channel:patv:713",
                                    "profile": "channel"
                                }
                            ]
                        },
                        "stereo": false,
                        "subtitles": true,
                        "surround": false,
                        "widescreen": true,
                        "audioDescriptive": false,
                        "interactive": false,
                        "hd": true,
                        "3d": false,
                        "repeat": false,
                        "premiere": false,
                        "newSeries": false,
                        "newEpisode": false,
                        "lastInSeries": false,
                        "live": false,
                        "signLanguage": false,
                        "inVision": true,
                        "asLive": false,
                        "bw": false,
                        "film": false,
                        "tvMovie": false,
                        "foreignFilmWithEnglishSubtitles": false,
                        "ratingWithPIN": false,
                        "revistedRepeat": false,
                        "omnibus": false,
                        "followOn": false,
                        "regionalInterest": false,
                        "welsh": false,
                        "ppv": false,
                        "bwAndColour": false,
                        "subject": [
                            {
                                "code": "schedule_item:patv:124079879",
                                "profile": "schedule_item"
                            }
                        ]
                    }
                ]
              }
              
  /asset:
    get:
      description: Return a collection of Assets.
      summary: Asset Collection
      tags:
        - Asset
      operationId: listAssets
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Limit'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 2,
                "items": [
                    {
                        "id": "c19522c2-ecb3-3572-956a-5be07271b0cb",
                        "title": "EastEnders",
                        "type": "episode",
                        "relatedAsset": {
                            "series": {
                                "id": "4a82698a-3b84-316b-8a8b-9fa6ba666c50",
                                "title": "EastEnders",
                                "tag": [],
                                "media": [],
                                "subject": [
                                    {
                                        "code": "asset:patv:8306",
                                        "profile": "asset"
                                    }
                                ]
                            }
                        },
                        "tag": [
                            {
                                "id": "genre:soap",
                                "name": "Soap"
                            },
                            {
                                "id": "genre:melodrama",
                                "name": "Melodrama"
                            },
                            {
                                "id": "genre:folkloric",
                                "name": "Folkloric"
                            }
                        ],
                        "summary": {
                            "short": "The highs and lows of life in Albert Square.",
                            "medium": "The highs and lows of life with the residents of Albert Square.",
                            "long": "The highs and lows of life with the residents of Albert Square, Walford."
                        },
                        "media": [
                            {
                                "kind": "picture:series",
                                "copyright": "©bbc",
                                "expiryDate": "2027-02-01",
                                "rendition": {
                                    "default": {
                                        "href": "http://tv.static.press.net/asset/webANXeastendersgen.jpg"
                                    }
                                }
                            }
                        ],
                        "subject": [
                            {
                                "code": "asset:patv:2572788",
                                "profile": "asset"
                            }
                        ]
                    },
                    {
                        "id": "4a82698a-3b84-316b-8a8b-9fa6ba666c50",
                        "title": "EastEnders",
                        "type": "series",
                        "tag": [],
                        "summary": {
                            "short": "The highs and lows of life in Albert Square",
                            "medium": "Soap opera set in the fictional London borough of Walford in the East End of the capital, focusing on the lives of people in Albert Square, a Victorian square of terraced houses.",
                            "long": "'EastEnders' was the brainchild of Julia Smith and Tony Holland, and premiered on BBC One in 1985. Storylines centre on people living and working in the fictional London borough of Walford. The series was originally screened as two half-hour episodes per week. Four episodes have been broadcast each week since August 2001. Within eight months of its launch, it reached number one in the ratings and has remained one of the top-rated programmes on British TV ever since. At the height of its popularity, more than 30 million viewers tuned in on Christmas Day 1986 to see Den Watts hand divorce papers to wife Angie. Large families have always been a strong feature of the long-running soap. The first central family was the Beale and Fowler clan consisting of Pauline Fowler, her husband Arthur, and teenage children Mark and Michelle. Pauline's twin brother Pete Beale, his wife Kathy and their son Ian lived nearby. Lou, Pauline and Pete's domineering mother, resided with Pauline. Strong female characters are central to the programme. Such characters have included Angie Watts, Kathy Mitchell, Sharon Rickman, Pat Evans and Peggy Mitchell. Macho male personalities such as Phil and Grant Mitchell have rubbed shoulders with bad boys including Den Watts and Dennis Rickman and handsome figures such as Simon Wicks and Jamie Mitchell. EastEnders has always featured a culturally diverse cast and never shied away from gritty storylines. For its 25th anniversary in February 2010, a live episode was broadcast where Archie Mitchell's killer was revealed. Ian Beale, played by Adam Woodyatt, is currently the only character to have been in the show from the first episode."
                        },
                        "media": [
                            {
                                "kind": "picture:series",
                                "copyright": "©bbc",
                                "expiryDate": "2027-02-01",
                                "rendition": {
                                    "default": {
                                        "href": "http://tv.static.press.net/asset/webANXeastendersgen.jpg"
                                    }
                                }
                            }
                        ],
                        "subject": [
                            {
                                "code": "asset:patv:8306",
                                "profile": "asset"
                            }
                        ]
                    }
                ]
              }
      
  /asset/{assetId}:
    get:
      description: Return the content of the selected asset.
      summary: Asset Detail
      tags:
        - Asset
      operationId: getAsset
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/AssetId'
          in: path
          required: true
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": "61d40145-3e28-3a4a-8d53-650310505927",
                "title": "2 Fast 2 Furious",
                "type": "movie",
                "productionYear": 2003,
                "certification": {
                    "bbfc": "12"
                },
                "tag": [
                    {
                        "id": "genre:detective",
                        "name": "Detective"
                    },
                    {
                        "id": "genre:thriller",
                        "name": "Thriller"
                    }
                ],
                "summary": {
                    "short": "Thriller sequel, starring Paul Walker.",
                    "medium": "A disgraced cop is given a chance to redeem himself by going undercover to bring a drug trafficker to justice. Thriller sequel, with Paul Walker, Tyrese Gibson and Eva Mendes.",
                    "long": "A disgraced former cop is arrested by the FBI for illegal street racing, but his one-time colleagues offer him freedom in exchange for going on an undercover mission. Teaming up with an old racing friend and a customs official, he has to infiltrate and bring down a drug-trafficking operation. Thriller sequel, with Paul Walker reprising his role from The Fast and the Furious alongside Tyrese Gibson, Eva Mendes and Cole Hauser."
                },
                "media": [
                    {
                        "kind": "picture:movie",
                        "copyright": "©Universal Pictures",
                        "expiryDate": "2027-02-01",
                        "rendition": {
                            "default": {
                                "href": "http://tv.static.press.net/asset/webANX2fast2furious.jpg"
                            }
                        }
                    }
                ],
                "subject": [
                    {
                        "code": "asset:patv:552426",
                        "profile": "asset"
                    }
                ]
              }
              
  /asset/{assetId}/contributor:
    get:
      description: Return a collection of Contributors for given Asset.
      summary: Asset Contributor Collection
      tags:
        - Asset
      operationId: listAssetContributors
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/AssetId'
          in: path
          required: true
        - $ref: '#/parameters/Limit'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 3,
                "items": [
                  {
                    "id": "ff9da7b2-62a8-3d2a-8761-a2c449b58d25",
                    "name": "Paul Walker",
                    "role": "Brian O'Conner",
                    "type": "cast",
                    "media": [
                      
                    ],
                    "subject": [
                      {
                        "code": "contributor:patv:2201",
                        "profile": "contributor"
                      }
                    ]
                  },
                  {
                    "id": "7810f722-a511-335d-9276-a168cb39930a",
                    "name": "Tyrese Gibson",
                    "role": "Roman Pearce",
                    "type": "cast",
                    "media": [
                      
                    ],
                    "subject": [
                      {
                        "code": "contributor:patv:38201",
                        "profile": "contributor"
                      }
                    ]
                  },
                  {
                    "id": "19a3392a-9908-36b0-b8cb-fb1ab7421ddf",
                    "name": "Eva Mendes",
                    "role": "Monica Fuentes",
                    "type": "cast",
                    "media": [
                      
                    ],
                    "subject": [
                      {
                        "code": "contributor:patv:49167",
                        "profile": "contributor"
                      }
                    ]
                  }
                ]
              }
      
  /feature:
    get:
      description: Return a collection of features.
      summary: Feature Collection
      tags:
        - Feature
      operationId: listFeatures
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Tag'
        - $ref: '#/parameters/Date'
          name: start
          description: >-
            Limit the features to ones scheduled from the selected date provided. For example 2014-04-14.

            The 'end' parameter is typically used in combination with the 'start' param to form a date range.
        - $ref: '#/parameters/Date'
          name: end            
          description: >-
            Limit the feature to ones scheduled to the selected date provided. For example: 2014-04-17.

            The 'end' parameter is typically used in combination with the 'start' param to form a date range.
        - $ref: '#/parameters/Limit'
        - $ref: '#/parameters/Offset'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 2,
                "items": [
                    {
                        "id": "cdb07f37-caed-38a2-8167-b075e91819ae",
                        "dateTime": "2017-10-11",
                        "tag": [
                            {
                                "id": "feature:soap-entertainment",
                                "name": "Soap-Entertainment"
                            }
                        ],
                        "asset": {
                            "id": "a68a92c7-67ba-3db4-98dc-466488643d1a",
                            "title": "Coronation Street",
                            "type": "episode",
                            "relatedAsset": {
                                "series": {
                                    "id": "0c3da54c-d259-356f-8fe2-2ca17c4f87c0",
                                    "title": "Coronation Street",
                                    "tag": [],
                                    "media": [],
                                    "subject": [
                                        {
                                            "code": "asset:patv:180",
                                            "profile": "asset"
                                        }
                                    ]
                                }
                            },
                            "tag": [
                                {
                                    "id": "genre:soap",
                                    "name": "Soap"
                                },
                                {
                                    "id": "genre:melodrama",
                                    "name": "Melodrama"
                                },
                                {
                                    "id": "genre:folkloric",
                                    "name": "Folkloric"
                                }
                            ],
                            "summary": {
                                "short": "Rana wrestles with her feelings of confusion.",
                                "medium": "Rana wrestles with her feelings of confusion and Nicola needs someone to confide in.",
                                "long": "Rana wrestles with her feelings of confusion, Nicola needs someone to confide in, and Amy and Asha make mischief for Brian."
                            },
                            "media": [
                                {
                                    "kind": "picture:episode",
                                    "copyright": "Picture contact - david.crook@itv.com  Photographer - Mark Bruce  This photograph is (C) ITV Plc and can only be reproduced for",
                                    "expiryDate": "2017-11-02",
                                    "rendition": {
                                        "default": {
                                            "href": "http://tv.static.press.net/asset/webANXcoronst9271.jpg"
                                        }
                                    }
                                },
                                {
                                    "kind": "picture:series",
                                    "copyright": "PA Archive/Press Association Images",
                                    "expiryDate": "2017-11-02",
                                    "rendition": {
                                        "default": {
                                            "href": "http://tv.static.press.net/asset/webANXcoronstser.jpg"
                                        }
                                    }
                                }
                            ],
                            "subject": [
                                {
                                    "code": "asset:patv:2812824",
                                    "profile": "asset"
                                }
                            ]
                        }
                    },
                    {
                        "id": "43196562-3d0f-33e6-8668-0c5517a459a7",
                        "dateTime": "2017-10-11",
                        "tag": [
                            {
                                "id": "feature:soap-entertainment",
                                "name": "Soap-Entertainment"
                            }
                        ],
                        "asset": {
                            "id": "de93dc5e-cdd6-30ce-bdce-b08ecc2506ca",
                            "title": "Emmerdale",
                            "type": "episode",
                            "relatedAsset": {
                                "series": {
                                    "id": "a07a7584-f764-3746-a141-64bd01318a20",
                                    "title": "Emmerdale",
                                    "tag": [],
                                    "media": [],
                                    "subject": [
                                        {
                                            "code": "asset:patv:256",
                                            "profile": "asset"
                                        }
                                    ]
                                }
                            },
                            "tag": [
                                {
                                    "id": "genre:soap",
                                    "name": "Soap"
                                },
                                {
                                    "id": "genre:melodrama",
                                    "name": "Melodrama"
                                },
                                {
                                    "id": "genre:folkloric",
                                    "name": "Folkloric"
                                }
                            ],
                            "summary": {
                                "short": "The police descend on the village.",
                                "medium": "Gabby and Liv make a discovery, Kerry is suspicious, and the police descend on the village.",
                                "long": "Gabby and Liv make a discovery, Kerry is suspicious about what Lydia is up to, and the police descend on the village to investigate recent events."
                            },
                            "media": [
                                {
                                    "kind": "picture:episode",
                                    "copyright": "Picture contact - david.crook@itv.com  This photograph is (C) ITV Plc and can only be reproduced for editorial purposes directl",
                                    "expiryDate": "2017-11-02",
                                    "rendition": {
                                        "default": {
                                            "href": "http://tv.static.press.net/asset/webANXemmerdale7958.jpg"
                                        }
                                    }
                                },
                                {
                                    "kind": "picture:series",
                                    "copyright": "PA Wire/Press Association Images",
                                    "expiryDate": "2017-11-02",
                                    "rendition": {
                                        "default": {
                                            "href": "http://tv.static.press.net/asset/webNXEmmerdale.jpg"
                                        }
                                    }
                                }
                            ],
                            "subject": [
                                {
                                    "code": "asset:patv:2812843",
                                    "profile": "asset"
                                }
                            ]
                        }
                    }
                ]
              }
        
  /feature/{featureId}:
    get:
      description: Return the content of the selected feature.
      summary: Feature Detail
      tags:
        - Feature
      operationId: getDetail
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/FeatureId'
          in: path
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": "cdb07f37-caed-38a2-8167-b075e91819ae",
                "dateTime": "2017-10-11",
                "tag": [
                    {
                        "id": "feature:soap-entertainment",
                        "name": "Soap-Entertainment"
                    }
                ],
                "asset": {
                    "id": "a68a92c7-67ba-3db4-98dc-466488643d1a",
                    "title": "Coronation Street",
                    "type": "episode",
                    "relatedAsset": {
                        "series": {
                            "id": "0c3da54c-d259-356f-8fe2-2ca17c4f87c0",
                            "title": "Coronation Street",
                            "tag": [],
                            "media": [],
                            "subject": [
                                {
                                    "code": "asset:patv:180",
                                    "profile": "asset"
                                }
                            ]
                        }
                    },
                    "tag": [
                        {
                            "id": "genre:soap",
                            "name": "Soap"
                        },
                        {
                            "id": "genre:melodrama",
                            "name": "Melodrama"
                        },
                        {
                            "id": "genre:folkloric",
                            "name": "Folkloric"
                        }
                    ],
                    "summary": {
                        "short": "Rana wrestles with her feelings of confusion.",
                        "medium": "Rana wrestles with her feelings of confusion and Nicola needs someone to confide in.",
                        "long": "Rana wrestles with her feelings of confusion, Nicola needs someone to confide in, and Amy and Asha make mischief for Brian."
                    },
                    "media": [
                        {
                            "kind": "picture:episode",
                            "copyright": "Picture contact - david.crook@itv.com  Photographer - Mark Bruce  This photograph is (C) ITV Plc and can only be reproduced for",
                            "expiryDate": "2017-11-02",
                            "rendition": {
                                "default": {
                                    "href": "http://tv.static.press.net/asset/webANXcoronst9271.jpg"
                                }
                            }
                        },
                        {
                            "kind": "picture:series",
                            "copyright": "PA Archive/Press Association Images",
                            "expiryDate": "2017-11-02",
                            "rendition": {
                                "default": {
                                    "href": "http://tv.static.press.net/asset/webANXcoronstser.jpg"
                                }
                            }
                        }
                    ],
                    "subject": [
                        {
                            "code": "asset:patv:2812824",
                            "profile": "asset"
                        }
                    ]
                }
              }

  /contributor:
    get:
      description: Return a collection of contributors.
      summary: Contributor Collection
      tags:
        - Contributor
      operationId: listContributors
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Query'
          description: 'Limit the contributor collection to items containing the provided string. For example: Jon'
        - $ref: '#/parameters/Limit'
        - $ref: '#/parameters/Offset'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "limit": 5,
                "items": [
                    {
                        "id": "3ddd967b-837c-3285-b04f-bc17433304b0",
                        "name": "Jim Carrey",
                        "media": [],
                        "subject": [
                            {
                                "code": "contributor:patv:3634",
                                "profile": "contributor"
                            }
                        ]
                    },
                    {
                        "id": "ce51f4b4-abb9-3073-9f9f-3444964e39fa",
                        "name": "Jim Carter",
                        "media": [],
                        "subject": [
                            {
                                "code": "contributor:patv:3558",
                                "profile": "contributor"
                            }
                        ]
                    },
                    {
                        "id": "3276540e-b0eb-381d-97fa-a0683a1ac892",
                        "name": "Jim Caviezel",
                        "media": [],
                        "subject": [
                            {
                                "code": "contributor:patv:2497",
                                "profile": "contributor"
                            }
                        ]
                    },
                    {
                        "id": "ed613d1e-42b8-332c-b963-e2acc256212e",
                        "name": "Jim Cummings",
                        "media": [],
                        "subject": [
                            {
                                "code": "contributor:patv:12541",
                                "profile": "contributor"
                            }
                        ]
                    }
                ]
              }

  /contributor/{contributorId}:
    get:
      description: Return the content of the selected contributor.
      summary: Contributor Detail
      tags:
        - Contributor
      operationId: getContributor
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/ContributorId'
          in: path
          required: true
        - $ref: '#/parameters/Accept'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": "915b17fb-d63a-3d46-b347-befd58ee9292",
                "name": "Carrie Fisher",
                "firstName": "Carrie",
                "lastName": "Fisher",
                "gender": "female",
                "birthDate": "1956-10-21",
                "birthPlace": "California",
                "earlyLife": "Carrie Frances Fisher was born in California on October 21, 1956. She was the daughter of singer Eddie Fisher and actress Debbie Reynolds. Her parents divorced when she was two after Fisher had an affair with Elizabeth Taylor. Carrie had a younger brother and two half-sisters from her father's marriage to singer and actress Connie Stevens. In 1973, Carrie began an 18-month stint at London's Central School of Speech and Drama.",
                "career": "Fisher appeared alongside her mother in the 1973 Broadway revival of the musical Irene, and two years later made her film debut in Shampoo. Her big break came in 1977 when she played Princess Leia in Star Wars: A New Hope. She reprised her role as Leia in The Empire Strikes Back and Return of the Jedi. During the 1980s, she appeared in the Broadway production of Agnes of God, published her first novel, Postcards from the Edge, and starred on the big screen in When Harry Met Sally. She wrote the screenplay for the 1990 film version of Postcards from the Edge, and spent a number of years as a leading Hollywood script doctor. In 2007, she took to the stage to perform her one-woman play Wishful Drinking. In 2015, she returned to her most famous role as Princess Leia in Star Wars: The Force Awakens. She died on December 27, 2016, at the age of 60. A day later, her mother died at the age of 84.",
                "quote": "\"I've got a lot of photos of me when I was very young at parties with celebrities, but I don't really remember the people or when the photos were taken.\"",
                "knownFor": "Playing Princess Leia in the original Star Wars trilogy.",
                "media": [
                  {
                    "kind": "picture:profile",
                    "copyright": "PA Archive/Press Association Images",
                    "rendition": {
                      "default": {
                        "href": "http://tv.static.press.net/profile/pp584.jpg"
                      }
                    }
                  }
                ],
                "subject": [
                  {
                    "code": "contributor:patv:584",
                    "profile": "contributor"
                  }
                ]
              }

  /tag:
    get:
      description: Return a collection of Tags.
      summary: Tag Collection
      tags:
        - Tag
      operationId: listTags
      security:
        - apikey: []
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/Limit'
        - $ref: '#/parameters/Offset'
      responses:
        200:
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                  "limit": 2,
                  "items": [{
                      "id": "genre:horror",
                      "name": "Horror"
                  }, {
                      "id": "genre:horse-racing",
                      "name": "Horse racing"
                  }]
              }

parameters:
  Accept:
    name: Accept
    in: header
    required: false
    type: string
    enum:
      - application/json
    description: The response format.
    default: application/json
  Query:  
    name: query
    in: query
    required: false
    type: string
    description: Search string to query the objects and return matching results.
  Limit:
    name: limit
    in: query
    required: false
    type: integer
    format: int32
    description: >-
      Limit the the number of items to be returned per page. For example: 5.

      The 'limit' parameter is typically used with the 'offset' parameter to facilitate pagination.
  Offset: 
    name: offset
    in: query
    required: false
    type: integer
    format: int32
    description: >-
      The page offset of the first item to be returned. For example: 2.

      The 'offset' parameter is typically used with the 'limit' parameter to facilitate pagination.
  PlatformId:    
    name: platformId
    in: query
    required: true
    type: string
    description: The identifier for the selected platform.
  RegionId:
    name: regionId
    in: query
    required: true
    type: string
    description: The platform region ID for the channel selection.
  ChannelId:  
    name: channelId
    in: query
    required: true
    type: string
    description: The identifier for the selected channel.
  Date:
    name: start
    in: query
    required: false
    default: 2015-05-05
    type: string
    description: "Example Date"  
  AssetId:  
    name: assetId
    in: query
    required: false
    type: string
    description: A asset ID filter for the schedule collection. This can be a reference to any type of asset i.e. movie, season, series or episode.  
  ContributorId:
    name: contributorId
    in: query
    required: false
    type: string
    description: Filter the schedule items by contributor ID
  Type:
    name: type
    in: query
    required: false
    default: movie
    type: string
    description: Type filter for the assets.i.e episode, movie, season or series
  Tag:
    name: tag
    in: query
    required: false
    default: genre:comedy
    type: string
    description: Tag filter for the assets  
  ContributorType:
    name: type
    in: query
    required: false
    type: string
    description: Type filter for the assets. i.e. cast, director or producer
  FeatureId:  
    name: featureId
    in: query
    required: true
    type: string
    description: The identifier for the selected feature.